@font-face {
  font-family: Norse;
  src: url(../resources/fonts/Norse.otf);
}
@font-face {
  font-family: Norse;
  src: url(../resources/fonts/Norse-Bold.otf);
  font-weight: bold;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}
