.q-form {
  width: 100vw;
  // border: 2px solid green;
  padding: 50px 20px;
  background: rgba(0, 0, 0, 0.5);
  @media screen and #{$tablet} {
    width: 500px;
  }


}
form {
    // border: 2px solid teal;
  // width: 80%;
  margin: auto;
  label {
    font-family: Norse;
    letter-spacing: 3px;
    @media screen and  #{$tablet} {
      font-size: 1.25em;
    }
  }
  input {
    color: $offWhite;
    width: 100%;
    min-height: 25px;
    border: none;
    border-bottom: 5px solid $softBlue;
    background: none;
    outline: none;
    font-size: 1em;
    font-weight: 100;
    margin-bottom: 25px;
    padding: 10px 0 5px 0;
    &:focus {
      border-color: lighten($softBlue, 25%);
    }
  }
}
