.q-form {
  width: 100%;
  // border: 2px solid green;
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
  @media screen and(min-width: 768px) {
    width: 100%;
  }


}
form {
    // border: 2px solid teal;
  // width: 80%;
  margin: auto;
  input {
    color: #eee;
    width: 100%;
    min-height: 25px;
    border: none;
    border-bottom: 5px solid #89a;
    background: none;
    outline: none;
    font-size: 1.5em;
    margin-bottom: 25px;
    padding-left: 100px;
  }
  button {
    display: block;
    // width: 50%;
    margin: 25px auto 0 auto;
    height: 75px;
    font-size: 2em;
    background: none;
    border: 2px solid #89a;
    color: #eee;
  }
}
