header {
  display: flex;
  flex-wrap: wrap;
  background: $darkGray;
  height: 15vh;
  min-height: 125px;
  align-items: center;
  color: $lightGray;
  font-family: Norse;
  .title {
    flex: 1 100%;
    font-size: 60%;
    text-align: center;
    h1 {
      letter-spacing: 10px;
    }
    h2 {
      letter-spacing: 5px;
    }
    @media screen and #{$tablet} {
      font-size: 100%;
      text-align: inherit;
      margin-left: 40px;
    }
  }
  @media screen and #{$tablet} {
    flex-wrap: nowrap;
    .title {
      flex: 1 50%;
    }
  }
}

nav {
  display: flex;
  flex: 1;
  justify-content: center;
  a {
    color: $lightGray;
    margin: 0 30px;
    &:hover {
      color: $softBlue;
    }
    @media screen and #{$tablet} {
      font-size: 1.5em;
    }
  }
}
