header {
  display: flex;
  flex-wrap: wrap;
  background: #222;
  height: 20vh;
  align-items: center;
  color: #ccc;
  .title {
    flex: 1 100%;
    font-size: 60%;
    text-align: center;
    @media screen and(min-width: 768px) {
      font-size: 100%;
      text-align: inherit;
      margin-left: 40px;
    }
  }
  @media screen and(min-width: 768px) {
    flex-wrap: nowrap;
    .title {
      flex: 1 50%;
    }
  }
}

nav {
  display: flex;
  flex: 1;
  justify-content: center;
  a {
    color: #ccc;
    margin: 0 20px;
    @media screen and(min-width: 768px) {
      font-size: 1.5em;
    }
  }
}
