.question-feed {
  width: 100%;
  margin: auto;
  @media screen and #{$tablet} {
    width: 75%;
  }
  h2 {
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    background: #777;
    padding: 20px;
    margin: 20px 0;
    h3 {
      color: #adf;
      margin-top: 0;
      cursor: pointer;
    }
  }
}
