<header>
  <div class="title">
    <h1>Obelisk of Wisdom</h1>
    <h2>QA MessageBoard</h2>
  </div>
  <nav>
    {{#link-to 'index'}}Home{{/link-to}}
    {{#link-to 'favorited'}}Favorites{{/link-to}}
    {{#link-to 'admin'}}Admin Portal{{/link-to}}
  </nav>
</header>

<div class="container">
  {{outlet}}
</div>
