<div class="ask-section">
  {{new-question saveQuestion="saveQuestion"}}
</div>
<div class="question-feed">
  <h2>Recent Questions</h2>
  <ul>
    {{#each model.questions as |question|}}
    {{question-tile question=question}}
    {{/each}}
  </ul>
</div>
