<div class="askQuestionBox">
  <h2>Ask A Question</h2>

  {{new-question saveQuestion="saveQuestion"}}
</div>

<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>
