<div class="big-q-section">
  <h2>Question:</h2>
  <h4>{{model.content}}</h4>
  {{question-detail question=model}}

</div>

{{answer-detail answer=answer model=model upvote="upvote" downvote="downvote" saveAnswer="saveAnswer"}}
