<h2>Question:</h2>
<h4>{{model.content}}</h4>
{{question-detail question=model}}

<button {{action 'addToFaves' question}}>Add to Favorites</button>


{{answer-detail answer=answer model=model saveAnswer="saveAnswer"}}
